<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body class="container">
<h1>Movies Information</h1>
{% if movies_list %}
<table>
    <thead>
        <th>Released Date</</th>
        <th>Movie Name</</th>
        <th>Hero</</th>
        <th>Heroin</</th>
        <th>Rating</</th>
    </thead>
    {% for movies in movies_list %}
    <tr>
        <td>{{ movies.ReleaseDate }}</td>
        <td>{{ movies.moviename }}</td>
        <td>{{ movies.hero }}</td>
        <td>{{ movies.heroin }}</td>
        <td>{{ movies.rating }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No Movies Found</p>
{% endif %}
</body>
</html>